@import "reset";
@import "var";
@import "fonts";



//navbar style

.bg-light {
    background-color: #79C4C0 !important;
    z-index: 1;
}

.navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
}

.navbar-light .navbar-brand {
    color: #FFFFFF;
}

#navbarNavDropdown {

   .navbar-nav {
       .nav-item {
        &:last-child {
            padding-right: 0;
        }
        
           &.active {
               background-color: #E85F57;
               color: #FFFFFF;
               border-radius: 5px;
           }

           .dropdown-menu {
               background-color: #E85F57;

               .dropdown-item {
                   color: #FFFFFF;
                   padding: 15px 30px;
                   &:hover {
                       background-color: #f8f9fa12;
                   }
               }
           }
           .nav-link {
               padding: 15px 30px;
               color: #FFFFFF;
               border-radius: 5px;
               margin-left: 5px;

               &:hover {
                   background-color: #E85F57;
               }
           }
       }
   }
}


// Banner

.home-banner {
    height: 70vh;
    .modify-img {
        top: unset;
        bottom: unset;
        height: 70vh;
    }

    .content {
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);

        h1 {
            color: #FFFFFF;
            background-color: #E85F57;
            padding: 10px 20px;
            font-size: 30px;
            line-height: 45px;
            font-weight: 700;
            border-radius: 15px;
            text-align: center;
        }

        h2 {
            color: #FFFFFF;
            font-size: 15px;
            line-height: 22px;
            font-weight: 300;
            background-color: #404546;
            border-radius: 15px;
            padding: 10px 40px;
            text-align: center;
        }
    }

}


// Services

.services {
    padding-top: 80px;
    padding-bottom: 100px;
    background-color: #F4F4F4;
    .container {
        .row-one {
            background-color: #EDEDED;
            padding: 10px;
            border-radius: 5px;
            margin-bottom: 40px;

            .col-md-10 {

                @media (max-width: 767px) {
                   text-align: center;
                }

                h3 {
                    color: #4b4b4b;
                }
                p {
                    color: #4b4b4b;
                    margin: 0;
                }
            }

            .col-md-2 {
                display: flex;
                align-items: center;
                justify-content: end;

                @media (max-width: 767px) {
                    justify-content: center;
                    margin-top: 20px;
                }

                .custom-btn {
                    background-color: #E85F57;
                    padding: 20px 30px;
                    color: #FFFFFF;
                    border-radius: 5px;
                }
            }
        }

        .row-two {
            .services__column {
                position: relative;

                @media (max-width: 767px) {
                    margin-bottom: 50px;
                }
                .services__column__item {
                    background-color: #F8F8F8;
                    padding: 50px 20px;
                    text-align: center;
                    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

                    .content { 
                        margin-bottom: 30px;

                        i {
                            font-size: 50px;
                            padding: 30px;
                        }

                        h3 {
                            font-size: 25px;
                            font-weight: 700;
                            color: #585858;
                        }

                        p {
                            font-size: 15px;
                            font-weight: 400;
                            line-height: 20px;
                            margin: 0;
                            color: #585858;
                        }
                    }


                    a {
                        position: absolute;
                        padding: 15px 30px;
                        background-color: #7AC9CB;
                        border-radius: 5px;
                        color: #fff;
                        width: 170px;
                        left: 50%;
                        transform: translate(-50%);
                        bottom: -10%;
                    }
                }
                
            }
        }
    }
}


// Why Ustads

.why-ustads {
    padding: 80px 0;
    text-align: center;
    background-color: #EDEDED;
    .container {
        .row {
            .why-ustads__content {
                margin-bottom: 40px;

                h2 {
                    color: #E85F57;
                    text-transform: uppercase;
                }

                p {
                    font-size: 14px;
                    margin: 0;
                }
            }

            .why-ustads__button-group {
                .button-group {
                    .custom-btn {
                        margin-right: 5px;

                        &:last-child {
                            margin-right: 0;
                        }

                        &:first-child {
                            background-color: #7AC9CB;
                        }

                        &:hover {
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}









@import "home-responsive";